# Get rid of Linux files
.directory

# This way I do not have to write all my makefiles such that all the intermediary object files are automatically deleted
*.o

# Save a local collection of project to do's
/SOURCE_CODE/under_development/
/applications/
